/* OVERALL ---------------------------------------------------------------------- */
body {
    font-family: 'Muli', sans-serif !important;
    overflow-y: scroll;
    background-color: #151921 !important;
}

.spacer {
    padding-bottom: 7%;
}

/* BRANDING ---------------------------------------------------------------------- */
.input-dark {
    background-color: #151921 !important;
    border: none !important;
}

.background-brand {
    background-color: #2b6ecf !important;
}

.color-brand {
    color: #2b6ecf !important;
}

.background-main {
    background-color: #151921;
}

.background-secondary {
    background-color: #1b2029;
}

/* NAV BAR ---------------------------------------------------------------------- */
.navbar a {
    color: white;
}

/* LANDING PAGE ---------------------------------------------------------------------- */
.landing-page-header {
    font-size: 55px;
    font-weight: 900;
}

/* OTHER ---------------------------------------------------------------------- */
.text-grey {
    color: #82828a;
}
